@media{
    .lead{
        width: 100%;
        padding: 20px 60px 0px 60px;
        
    }
    .middle{
        width: 100%;
        padding: 50px 0px 0px 0px;
    }
    .end{
        width: 100%;
        padding: 50px 0px 0px 0px;
    }
    h3{
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        color: #1985A1;
        padding: 10px 10px 10px 10px;
    }
    body{
        background-color: #DCDCDD;
    }
    h1{
        color: #1985A1;
        margin: 20px 20px 20px 20px;
        text-align: center;
        font-size: 50px;
    }
    h5{
        text-align: center;
        font-size: 20px;
        padding: 20px 20px 20px 20px;
    }
    p{
        font-size: 20px;
    }
  
    #content{
        width: 60%;
    }
    #content2{
        width: 60%;
    }
    .quote{
        font-size: 60px;
        font-weight: bold;
        color: white;
        border-top:3px solid #F5F0F6;
    }
    .attribution{
        font-size: 25px;
        font-weight: bold;
        color: #1985A1;
        border-bottom:3px solid #F5F0F6;
    }
    .pullquote{
        background-color: #46494C;
        padding: 50px 50px 50px 50px;
        margin: 30px 0px 30px 0px;
        
    }
    #graph{
        width: 65%;
    }
    #caption{
        text-align: center;
        color: black;
        font-size: 8px;
    }
    #lowercaption{
        text-align: center;
        color: black;
        font-size: 10px;
    }
    #byline{
        font-weight: bold;
    }
    /*CSS Code from positronx.io*/
    hr { 
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    color:#1985A1;
       
}
}

@media (min-width:576px){
    #topper{
        background-color: #4C5C68;
        
}
     h1{
        background-color: #4C5C68;
        color: white;
        margin: 20px 20px 20px 20px;
        text-align: center;
        font-size: 70px;
    }
     #caption{
        text-align: center;
        color: white;
        font-size: 10px;
    }
}
@media (min-width:992px){
     #topper{
        background-color: #4C5C68;
}
     h1{
        background-color: #4C5C68;
        color: white;
        margin: 20px 20px 20px 20px;
        text-align: center;
        font-size: 90px;
    }
     #caption{
        text-align: center;
        color: white;
        font-size: 10px;
    }
    }

@media (min-width:1200px){
     #topper{
        background-color: #4C5C68;
}\ h1{
        background-color: #4C5C68;
        color: white;
        margin: 20px 20px 20px 20px;
        text-align: center;
        font-size: 100px;
    }
     #caption{
        text-align: center;
        color: white;
        font-size: 10px;
    }
    }